include LICENSE README.md
include harness.py createdb.py
include alembic.ini
recursive-include kerneltest *
recursive-include guests *
recursive-include files *
recursive-include alembic *.py *.mako *.rst

