body {
    padding: 0;
    height: 100%;
    margin: 0;
}

h4 {
    color: #CE5C00;
    font-size: 16px;
    margin: 0.8em 0 0.4em;
}

.message {
    color: green;
}

.errors {
    color: red;
}

.warnings {
    color: orange;
}

.nobutton {
    background:none!important;
    border:none;
    padding:0!important;
    color: #0066CC;
    text-decoration: none;
}

#header input {
    border-radius: 10px;
}

header#mainheader{
    color: white;
    background: #426ead; /* Old browsers */
    background: -moz-linear-gradient(top, #426ead 0%, #1e4a88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#426ead), color-stop(100%,#1e4a88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* IE10+ */
    background: linear-gradient(to bottom, #426ead 0%,#1e4a88 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426ead', endColorstr='#1e4a88',GradientType=0 ); /* IE6-9 */
    padding: .5em;
    margin-bottom: .5em;
}

header h1,
header h2,
header p {
    margin:0;
}

header h1 span {
    float: right;
    color: rgba(255, 255, 255, .5);
    font-size: 0.7em;
    font-weight: normal;
}

section header,
section aside,
section nav {
    display: inline-block;
    vertical-align: middle;
}
