{% extends "master.html" %}

{% block content %}
<h1>Results for kernel {{ kernel.kver }}</h1>

<table border='1' style='width:550px'>
<tr>
    <th>Kernel</th>
    <th>Result</th>
    <th>log</th>
</tr>
{% for test in tests %}
    <tr>
        <td>{{ test.kver }}</td>
        <td>
            {% if test.testresult == 'PASS' %}
            <img src="{{ url_for('static', filename='Approved.png') }}" />
            {% elif test.testresult == 'WARN' %}
            <img src="{{ url_for('static', filename='Warn.png') }}" />
            {% else %}
            <img src="{{ url_for('static', filename='Denied.png') }}" />
            {% endif %}
            {{ test.testresult }}
        </td>
        <td><a href='{{ url_for("logs", logid=test.testid) }}'>
                logs </a>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}
